python==2.7.7
pytorch==1.5.0
torchvision==0.6.0
tensorboard==2.1.0
tensorboardx==2.0
albumentations==0.4.5
imageio==2.8.0
imgaug==0.2.6
numpy==1.18.1
pillow==7.1.2
runx==0.0.4
scikit-image==0.16.2
scikit-learn==0.22.1
thop==0.0.31-2005241907
tqdm==4.46.0
runx==0.0.4
ttach==0.0.3
opencv-python==4.2.0.34
visdom==0.1.8.9
